@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

main {
  background-color: #e8d5be;
  mix-blend-mode: pass-through;
}

main .about-container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.about-button {
  font-size: 16px; /* Set font size */
  font-weight: 600; /* Apply font weight */
  font-family: "Poppins", sans-serif;
  color: black; /* Set text color */
  background-color: white; /* Set background color */
  border: none; /* Remove border */
  padding: 8px 16px; /* Add padding */
  text-decoration: none;
  margin: 0; /* Add border-radius: 5px; /* Add border radius */

  /* Larger padding between button and first image */
}
.about-button:hover {
  background-color: #f5ede4; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}
.about-grid {
  display: grid;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 270px 270px 270px 270px;

  gap: 30px;
  height: 100%;
}

@media screen and (max-width: 650px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
}

#aboutitem-2 {
  background-image: url("../../public/images/about1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}
#aboutitem-5 {
  background-image: url("../../public/images/about2.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}
#aboutitem-6 {
  background-image: url("../../public/images/about3.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  overflow: visible;
}
.link {
  text-decoration: none;
  color: black;
}

/* Add responsive styles */

@media screen and (max-width: 768px) {
  .about-grid {
    grid-template-columns: 1fr;
  }
  .about-container p {
    text-align: justify;
  }

  .about-grid > div {
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 300px; /* Set a minimum height to ensure all items are of equal height */
    /* Add padding for spacing inside the item */
  }
  #item-2 {
    grid-row: span 2; /* Span 2 rows on mobile */
    grid-column: span 1; /* Span 1 column on mobile */
  }
  #item-5 {
    grid-row: span 2; /* Span 2 rows on mobile */
    grid-column: span 1; /* Span 1 column on mobile */
  }
  #item-6 {
    grid-row: span 2; /* Span 2 rows on mobile */
    grid-column: span 1; /* Span 1 column on mobile */
  }
}
