@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

main {
  background-color: #e8d5be;
  mix-blend-mode: pass-through;
}

main .blog5-container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  text-decoration: none !important;
  color: inherit;
}

.numbers-container {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
  color: #000000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em; /* Set letter spacing to 3% of the font size */
  align-items: center; /* Align text vertically in its container */
  mix-blend-mode: hard-light;
  text-align: justify;
  gap: 15px;
  padding-top: 15px;
}
