@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

main {
  background-color: #e8d5be;
  mix-blend-mode: pass-through;
}

main .blog-container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.link {
  text-decoration: none !important;
  color: inherit;
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  padding: 0; /* Remove extra padding */
  margin: 0 5px; /* Set horizontal margin */
  color: #000000;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em;
  background: none; /* Remove button background */
  border: none; /* Remove button border */
  cursor: pointer;

  font-weight: 400; /* Make the font weight thin */
  gap: 15px;
  align-items: center; /* Align text vertically in its container */
  mix-blend-mode: hard-light;
  text-align: justify;
}

.pagination button.active {
  font-weight: 600;
}

.pagination button:hover {
  text-decoration: underline;
}
