@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

main {
  background-color: #e8d5be;
  mix-blend-mode: pass-through;
}

main .home-container {
  max-width: 1050px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-top: 30px;
}

.image-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 15px;
}

img {
  height: 300px;
  width: 230px;
  height: 300px;
  /* margin-bottom: 90px; */
  /* margin-top: 30px;
    margin-left: 20px; */
}

.ourgallery-button {
  font-size: 16px; /* Set font size */
  font-weight: 400; /* Apply font weight */
  font-family: "Poppins", sans-serif;
  color: black; /* Set text color */
  background-color: white; /* Set background color */
  border: none; /* Remove border */
  padding: 8px 16px; /* Add padding */
  text-decoration: none;
  margin: 0; /* Add border-radius: 5px; /* Add border radius */
  /* margin-top: -320px; */
}
.ourgallery-button:hover {
  background-color: #f5ede4; /* Change background color on hover */
  cursor: pointer; /* Change cursor to pointer on hover */
}

.content-container {
  padding-top: 20px;
  display: flex;
  justify-content: space-between; /* Ensure button and images are on opposite ends */
  align-items: start; /* Align items vertically in the center */
  min-height: 450px;
}

/* RESPONZIVNOST KOD NOVI CHATGPT */

@media (max-width: 768px) {
  main .home-container {
    padding: 0.5rem 1rem;
    padding-top: 30px;
  }
  .home-container p {
    text-align: justify;
  }

  .content-container {
    flex-direction: column;
    align-items: justify;
    min-height: auto;
  }

  .image-container {
    display: flex;
    flex-direction: row;
    padding-right: 15px;
    gap: 15px;
    margin-bottom: 30px;
  }

  .ourgallery-button {
    margin-bottom: 15px;
  }
}
