@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

.articlecard-list {
  display: grid;
  gap: 30px;
  width: 100%;
}

.articlecard-container {
  display: flex;
  gap: 30px;
}

.articlecard-list > h1 {
  margin-bottom: 30px;
}

.articlecard-container > * {
  flex: 1; /* Each child element takes up equal space */
  width: 50%; /* Each child element takes up half of the container's width */
}

/* Apply reverse direction to the second container within each Articlecard component */
.articlecard-list > .articlecard-container:nth-child(2) {
  flex-direction: row-reverse;
}

.articlecard-container img {
  width: 100%;
  height: 300px;
  object-fit: cover;
  flex: 1;
}

/* Responsive styles */
@media (max-width: 600px) {
  .articlecard-container {
    flex-direction: column !important;
    gap: 20px; /* Adjust gap if needed */
    width: 100%;
  }

  .articlecard-container img {
    height: 100px; /* Set image height for smaller screens */
    width: 100%;
    object-fit: cover;
  }

  .articlecard-container text {
    text-align: justify;
    width: 100%;
  }

  .articlecard-container p {
    width: 200%; /* whyyyyy ???? */
  }
}
