.cartcard {
  position: relative;
  display: flex;
  flex-direction: column;
}

.cartcard-close-icon {
  position: absolute;
  top: 10px;
  right: 60px;
  color: #3e3628;
  cursor: pointer;
  font-size: 28px;
}

.cartcard-text {
  color: #000000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  letter-spacing: 0.03em; /* Set letter spacing to 3% of the font size */
  align-items: center; /* Align text vertically in its container */
  mix-blend-mode: hard-light;
  text-align: justify;
  width: 100%;
  font-weight: normal; /* Ensure the font is not bold */
  margin: 0px;
  padding-top: 10px;
}
