@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
footer {
  background-color: #dbbd98;
  mix-blend-mode: pass-through;
}

footer .footer-container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  display: grid;

  justify-content: space-between;
  grid-column: 60% 40%;
  grid-row: 4;
}

.custom-footing {
  color: rgba(62, 54, 40, 1);
  font-size: 28px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  letter-spacing: 0.03em;
  align-items: auto;
  mix-blend-mode: hard-light;
  margin: 0;
}

.custom-text {
  color: #000000;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
  align-items: center;
  mix-blend-mode: hard-light;
  text-decoration: none;
  flex-direction: row;
}

.button-container {
  display: flex;
  align-items: start;
  gap: 10px;
}

.small-button {
  font-size: 16px;
  font-weight: 400;
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: white;
  border: none;
  padding: 8px 16px;
  text-decoration: none;
}
.small-button:hover {
  background-color: #f5ede4;
  cursor: pointer;
}

.text1 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 1;
  grid-column-end: 1;
}

.text2 {
  grid-row-start: 1;
  grid-row-end: 1;
  grid-column-start: 2;
  grid-column-end: 2;
  align-content: center;
}

.text3 {
  grid-row-start: 4;
  grid-column: 1 / span 2;
  text-align: center;
}
.button5 {
  grid-row-start: 2;
  grid-column-start: 2;
  margin-left: 0.03em;
}

.button6 {
  grid-row-start: 3;
  grid-column-start: 2;
  margin-left: 0.03em;
}

.line-wrapper {
  display: flex;
  align-items: center;
}

.line-wrapper::before,
.line-wrapper::after {
  content: " ";
  flex: 1;
  height: 1px;
  background-color: black;
  margin: 0 5px;
}

.footer-contact {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 10px;
}

.link {
  text-decoration: none;
  color: black !important;
}

.title {
  color: #3e3628 !important;
}

/* NOVI KOD RESPONZIVNOST */

@media (max-width: 768px) {
  footer .footer-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .text1 {
    grid-row-start: 1;
    grid-column-start: 1;
  }

  .button-container {
    grid-row-start: 2;
    grid-column-start: 1;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  p {
    /*get the freshest news from us */
    grid-row-start: 3;
    grid-column-start: 1;
    text-align: justify;
    margin-bottom: 10px;
  }

  .footer-contact {
    grid-row-start: 4;
    grid-column-start: 1;
    align-items: justify;
  }

  .text3 {
    /*CASA DEL MAR 2024*/
    grid-row-start: 5;
    grid-column-start: 1;
    text-align: center;
    margin-top: 10px;
  }

  .footer-container p {
    text-align: left;
  }
}
