@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

main {
  background-color: #e8d5be;
  mix-blend-mode: pass-through;
}

main .user-container {
  width: 100%;
  max-width: 1050px;
  margin: 0 auto;
  padding: 0.5rem 1rem;
  padding-top: 30px;
  padding-bottom: 30px;
}

.user2-container {
  display: flex;

  align-items: flex-start;
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding-top: 15px;
}

.user2-containerforma {
  padding-bottom: 30px;
  font-family: "Poppins", sans-serif;
  border-radius: 0;
  width: 100%;
  box-sizing: border-box;
}

* {
  /* Add temporary border to visualize elements */
  box-sizing: border-box; /* Ensure consistent box model */
}

.user2-containerforma .form-row {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-bottom: 15px;
}

.user2-containerforma label {
  display: block;
  margin-bottom: 5px;
}

.user2-containerforma input[type="username"],
.user2-containerforma input[type="password"],
.user2-containerforma textarea {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 0;
  font-size: 14px;
  width: 50%;
}

.user2-containerforma button {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.user2-containerforma button:hover {
  background-color: #f5ede4;
}

.user2-containerforma button {
  font-size: 16px;
  font-weight: 500;
  font-family: "Poppins", sans-serif;
  color: black;
  background-color: white;
  border: none;
  padding: 8px 16px;
  cursor: pointer;
}

.user2-containerforma button:hover {
  background-color: #f5ede4;
}

.error {
  color: red;
  font-size: 0.875em;
}
